html, body {
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
}

app-root {]
  top: 0;
  left: 0;
  height: 100%;
}

router-outlet {
  height: 100%;
}

a, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}
